{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget-form.html.twig' %}

{% block buy_widget_buy_container %}
	{{ parent() }}

	<input
		data-hmnet-configurator-payload
		type="hidden"
		name="lineItems[{{ product.id }}][payload]"
		value="[]"
	/>
{% endblock %}

{% block buy_widget_buy_button_container %}
	{{ parent() }}

	<div class="hmnet-product-actions mt-2 d-flex gap-2 flex-wrap">
		<button class="hmnet-action-button btn btn-secondary"
			type="button"
			data-hmnet-configurator-pdf-download="quote">
			{{ 'HMnetConfigurator.BuyWidget.DownloadPdf'|trans }}
		</button>
		<button class="hmnet-action-button btn btn-secondary"
			type="button"
			data-hmnet-configurator-pdf-download="question">
			{{ 'HMnetConfigurator.BuyWidget.ProductQuestion'|trans }}
		</button>
		<button class="hmnet-action-button btn btn-secondary"
			type="button"
			data-hmnet-configurator-pdf-download="free-item">
			{{ 'HMnetConfigurator.BuyWidget.FreeItem'|trans }}
		</button>
	</div>
{% endblock %}
