<div class="hmnet-product-configurator" data-hmnet-product-configurator data-product-id="{{ product.id }}" data-pdf-endpoint="{{ path('frontend.hmnet.configurator.pdf') }}" data-currency-decimals="{{ currencyDecimals }}" data-currency-symbol="{{ currencySymbol }}" data-tax-rate="{{ taxRate }}" data-setup-label-template="{{ setupLabelTemplate }}" data-film-label-template="{{ filmLabelTemplate }}" data-product-prices="{{ product.prices|map(p => { quantityStart: p.quantityStart, quantityEnd: p.quantityEnd, price: p.price.first.net|round(2) })|json_encode }}">
	{% sw_include '@HMnetConfigurator/storefront/configurator/partials/header.html.twig' with {
		product: product
	} only %}

	{% sw_include '@HMnetConfigurator/storefront/configurator/partials/fields.html.twig' with {
		fields: fields,
		currencySymbol: currencySymbol,
		defaultSelectLabel: defaultSelectLabel
	} only %}

	{% sw_include '@HMnetConfigurator/storefront/configurator/partials/breakdown.html.twig' only %}

	<div class="hmnet-product-configurator-bottom-row">
		{% sw_include '@Storefront/storefront/component/buy-widget/buy-widget-price.html.twig' %}
		{% sw_include '@HMnetConfigurator/storefront/configurator/partials/totals.html.twig' with {
			currencySymbol: currencySymbol
		} only %}
	</div>
</div>
