<div class="hmnet-product-configurator__total">
	<div class="hmnet-product-configurator__total__net">
		<h4>{{ 'hmnet-configurator.total.net'|trans }}</h4>
		<div class="hmnet-product-configurator__total__net__price">
			<span class="odometer value" data-hmnet-uid="total-net" data-hmnet-product-configurator-total-net>0,00</span>
			<span class="currency">{{ currencySymbol }}</span>
		</div>
	</div>
	<div class="hmnet-product-configurator__total__tax">
		<h5>{{ 'hmnet-configurator.total.tax'|trans }}</h5>
		<div class="hmnet-product-configurator__total__tax__price">
			<span class="odometer value" data-hmnet-uid="total-tax" data-hmnet-product-configurator-total-tax>0,00</span>
			<span class="currency">{{ currencySymbol }}</span>
		</div>
	</div>
	<div class="hmnet-product-configurator__total__gross">
		<h5>{{ 'hmnet-configurator.total.gross'|trans }}</h5>
		<div class="hmnet-product-configurator__total__gross__price">
			<span class="odometer value" data-hmnet-uid="total-gross" data-hmnet-product-configurator-total-gross>0,00</span>
			<span class="currency">{{ currencySymbol }}</span>
		</div>
	</div>
</div>
